<%- include('layout.ejs'); %>
<link rel="stylesheet" href="styles/edit_profile.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="#" class="navbar-brand">FitUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Health Record</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Monitoring</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a href="#" class="nav-link">Food Portion</a>
                    </li>
                </ul>
                <a href="/login"><button class="log-in-btn">Log in</button></a>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="d-flex justify-content-center mt-5 pb-5" style="padding-top: 50px;">
        <b style="font-size: 50px;">
            Update your profile
        </b>
    </div>
    <div class ="rounded-5 mb-5" id="profile_form">
        <div class="d-flex justify-content-center">
            <div class=" rounded-circle"
                style="width:150px;height:150px;margin-top:10px; border-color: black; border-style:solid" alt="Avatar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
            </div>
        </div>
        <div>
            <form method="post" action="/edit_profile">
                <div class="row">
                    <div class="col px-5">
                        <div class="row">
                            <p>Fullname: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Fullname" class="form-control" name="Fullname" value="<%= locals.fullname %>">
                        </div>
                        <div class="row mt-3">
                            <p>Email: </p>
                        </div>
                        <div class="row pe-5 ps-2" >
                            <input type="text" id="Email" class="form-control" name="Email" value="<%= locals.email %>" readonly>
                        </div>
                        <div class="row mt-3">
                            <p>Phone number: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Phone number" class="form-control" name="Phone_number"  value="<%= locals.phone_number %>" required>
                        </div>
                        <div class="row mt-3">
                            <p>Date of birth: </p>
                        </div>
                        <div class="row pe-5 ps-2">
                            <input type="date" id="Date_of_birth" class="form-control is-invalid" name="Date_of_birth" value="<%= locals.date_of_birth %>" required autofocus>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p>Gender: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <div class="form-check form-check-inline col" id="Gender" value="<% locals.gender %>">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="male" value="Male" required>
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline  col">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="female" value="Female" required>
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input is-invalid" type="radio" name="Gender" id="other" value="Other" required>
                                <label class="form-check-label" for="other">Other</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <p>Address: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Address" class="form-control" name="Address" value="<%= locals.address %>" required>
                        </div>
                        <div class="row mt-3">
                            <p>Country: </p>
                        </div>
                        <div class="row pe-5 ps-2 was-validated">
                            <input type="text" id="Country" class="form-control" name="Country" value="<%= locals.country %>">
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-4 pb-5">
                    <div class="col px-5"></div>
                    <div class="col px-5">
                        <div class="row">
                            <!-- <div class="col"></div> -->
                            <div class="col-sm-4">
                                <div id="button">
                                    <a class="btn btn-dark rounded-5" href="profile" role="button">Cancel</a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="button">
                                    <button class="btn btn-primary rounded-5 button" type="submit" formaction="#" disabled> Update your profile</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <script type="text/javascript" src="scripts/edit_profile.js"></script>
</body>
</html>